/** 
 * 描述：重置页面元素，设置布局样式及公共模块
 * 作用范围：公共
 */


/*页面基础模块*/
 .panel{
    margin: 15px 0px; padding: 39px 19px 14px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    position: relative;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    min-height: 200px;
}
.links {
  color: white;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.h600{
    height: 600px;
}
.h670{
    height: 670px;
}
.oriBgcolor{
    background-color: #DBDBDC;
    border: 1px solid #AAA;
}
.b{
    font-weight: bold;
}
.myProgress{
    height: 35px;
    line-height: 35px;
    position: relative;
    margin: 0px;
    padding: 0px;
    width:80%;
    margin: 5px 0px;
}
.myProgress-weight-start{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/progess_weight_start.png");
    border-radius: 50%;
    /*background-color: #C8C9C9;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;

}
.myProgress-weight-end{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/progess_weight_start.png");
    border-radius: 50%;
    /*background-color: #C8C9C9;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}
.myProgress-strength-start{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/progess_strength_start.png");
    border-radius: 50%;
    /*background-color: #C8C9C9;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.myProgress-strength-end{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/progess_strength_start.png");
    border-radius: 50%;
    /*background-color: #C8C9C9;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}

.myProgress-strength-cur{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/progess_goal.png");
    border-radius: 50%;
    /*background-color: #C8C9C9;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}


.myProgress-dimension-start{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/progess_dimension_start.png");
    border-radius: 50%;
    /*background-color: #C8C9C9;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.myProgress-dimension-end{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/progess_dimension_start.png");
    border-radius: 50%;
    /*background-color: #C8C9C9;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}

.myProgress-goal{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/progess_goal.png");
    border-radius: 50%;
    /*background-color: #C8C9C9;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}
.myProgress-pgs{
    height: 25px;
    width: 220px;
    background-color: #c9cacb;
    z-index: 0;
    position: absolute;
    top: 5px;
    left: 30px;
}
.myProgress-weight-done{
    height: 25px;
    background-color: #F39800;
}
.myProgress-strength-done{
    height: 25px;
    background-color: #AD81B7;
}
.myProgress-dimension-done{
    height: 25px;
    background-color: #79AD33;
}
.floatL{
    float: left;
}
.floatR{
    float:right;
}
.mgTop5{
    margin-top:5px;
}
.mgTop20{
    margin-top:20px;
}
.todayFrame{
    height:40px;line-height:40px
}