<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>新增动作</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">动作名称<span class="check-tips">（动作名称不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="ename" id="" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">适用性别<span class="check-tips">（不能为空）</span></label>
                    <select name="sex">
                            <volist name=":get_sex_type(null, true)" id="vo">
                                    <option value="{$vo}">{$vo}</option>
                            </volist>
                    </select>
        </div>
        <div class="form-item">
            <label class="item-label">肌群类型<span class="check-tips">（不能为空）</span></label>
                    <select name="mainmuscletype">
                            <volist name=":get_mainmuscletype(1)" id="vo">
                                    <option value="{$key}">{$vo}</option>
                            </volist>
                    </select>
        </div>
        <div class="form-item">
            <label class="item-label">锻炼类型<span class="check-tips">（不能为空）</span></label>
                    <select name="exercisetype">
                            <volist name=":get_mainmuscletype(2)" id="vo">
                                    <option value="{$key}">{$vo}</option>
                            </volist>
                    </select>
        </div>
        <div class="form-item">
            <label class="item-label">设备类型<span class="check-tips">（不能为空）</span></label>
                    <select name="equiptype">
                            <volist name=":get_mainmuscletype(3)" id="vo">
                                    <option value="{$key}">{$vo}</option>
                            </volist>
                    </select>
        </div>
                <div class="form-item">
            <label class="item-label">力量形式<span class="check-tips">（不能为空）</span></label>
                    <select name="forcetype">
                            <volist name=":get_mainmuscletype(4)" id="vo">
                                    <option value="{$key}">{$vo}</option>
                            </volist>
                    </select>
        </div>
        
                        <div class="form-item">
            <label class="item-label">运动<span class="check-tips">（不能为空）</span></label>
                    <select name="sport">
                            <volist name=":get_mainmuscletype(5)" id="vo">
                                    <option value="{$key}">{$vo}</option>
                            </volist>
                    </select>
        </div>
        
        <div class="form-item">
            <label class="item-label">等级<span class="check-tips">（不能为空）</span></label>
                    <select name="level">
                            <volist name=":get_mainmuscletype(6)" id="vo">
                                    <option value="{$key}">{$vo}</option>
                            </volist>
                    </select>
        </div>
             
            <div class="btn-group-click adv-sch-pannel fl">
                <button class="btn">高 级<i class="btn-arrowdown"></i></button>
                <div class="dropdown cf">
                    <div class="row">
                        <label>更新时间：</label>
                        <input type="text" id="time-start" name="time-start" class="text input-2x" value="" placeholder="起始时间" /> -
                        <input type="text" id="time-end" name="time-end" class="text input-2x" value="" placeholder="结束时间" />
                    </div>
                    <div class="row">
                        <label>创建者：</label>
                        <input type="text" name="nickname" class="text input-2x" value="" placeholder="请输入用户名">
                    </div>
                </div>
            </div>





             
        <div>
            <input type="file" id="upload_picture_cover_id">
            <input type="hidden"  name="cover_id"  id="cover_id_cover_id"/>
            <input type="hidden" name="imgurl" value="" id="imgurl">
            <div class="upload-img-box">
            </div>
        </div>
        <script type="text/javascript">
        //上传图片
        /* 初始化上传插件 */
        $("#upload_picture_cover_id").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传图片",
            "uploader"        : "{:U('exercise/uploadPicture',array('session_id'=>session_id()))}",
            "width"           : 120,
            'removeTimeout'   : 1,
            'fileTypeExts'    : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadPicturecover_id,
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });
        function uploadPicturecover_id(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                $("#cover_id_cover_id").val(data.id);
                src = data.url || '__ROOT__' + data.path
                $("#cover_id_cover_id").parent().find('.upload-img-box').html(
                    '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                );
                $("#imgurl").val(src);
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
        </script>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>

