<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增</h2>
    </div>

    
    <form action="{:U('goal/addtype')}" method="post" class="form-horizontal">

        <div class="form-item">
            <label class="item-label">ID<span class="check-tips">（ID不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="id" value="">
            </div>
        </div> 

        <div class="form-item">
            <label class="item-label">名称<span class="check-tips">（名称不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="typename" value="">
            </div>
        </div> 
        <div class="form-item">
            <label class="item-label">moduleid<span class="check-tips">（moduleid不能为空）</span></label>
              <select name="moduleid">
                    <volist name="list" id="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                    </volist>
            </select>
        </div>
        <input type="hidden" value="<?php echo $_GET['table'] ?>" name="table">
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
