h3{
    background-color:#F3F3F3;
    padding-left: 6px;
    text-align: left;
    line-height: 18px;
    height: 100px;
    padding-bottom: 6px;
    color: #ff0099; 
    font-weight: bold;
    border-bottom: 1px solid #E5E5E5;
}