<!-- Big row 整体布局 最外层row -->
<div id="main" class="row main-container">
      <!-- 除了header&footer的所有内容 -->   
  <block name="main-container">

    <style type="text/css">
    .main-container{
        margin-top: 50px;
    }
    </style>

    <!-- 左侧主要内容 span9-->
    <div class="main-content span9">
       <block name="left"></block>
       <block name="body"></block>
    </div>   

   <!-- 右侧导航 span3-->
   <div class="side span3">
        <!-- side block -->
        <block name="side">
            <div class="panel"></div>
            <div class="panel oriBgcolor">
            <h4>我的健身</h4>
                 <a class="links" href="{:U('Exercise/exc_goal')}">Goal</a></br>
                 <a class="links" href="{:U('Exercise/exc_filter')}">动作库</a></br>
                
            </div>
            <div class="panel oriBgcolor">广告位</div>
        </block>
    </div>
    <script type="text/javascript">
    $(function() {
        $(window).resize(function() {
            $("#main-container").css("min-height", $(window).height() - 343);
        }).resize();
    })
    </script>
  </block>
</div>