     
  <style type="text/css">
  </style>





      <div class="span8 exc-nav">
               <ul class="nav nav-tabs pull-right">
                  <li><a href="{:U('Exercise/exc_filter')}" id="filter_nav" >过滤器</a></li>
                  <li><a href="{:U('Exercise/exc_ind')}" id="tml_nav">计划</a></li>
                  <li><a href="{:U('Exercise/exc_doc')}" id="doc_nav">文章</a></li>
               </ul>
       </div>


  <script type="text/javascript">
       $("#filter_nav").mouseover(function(){
        $("#filter_nav").css({"border-bottom-style":"solid"," border-bottom-color":"#EB6001"});
      });
      $("#filter_nav").mouseleave(function(){
        $("#filter_nav").css({"border-bottom-style":""});
      });
       
      $("#tml_nav").mouseover(function(){
        $("#tml_nav").css({"border-bottom-style":"solid"," border-color":"#EB6001"});
      });
      $("#tml_nav").mouseleave(function(){
        $("#tml_nav").css({"border-bottom-style":""});
      });
      $("#doc_nav").mouseover(function(){
        $("#doc_nav").css({"border-bottom-style":"solid"," border-color":"#EB6001"});
      });
      $("#doc_nav").mouseleave(function(){
        $("#doc_nav").css({"border-bottom-style":""});
      });
      $("#").mouseleave(function(){
        $("#Mall_nav").css({"background-color":"#3399FF","color":"white"});
      });    
  </script>