<!-- 导航条
================================================== -->
<style type="text/css">
   .navbar-default{
    
   }
   #Index_nav{
   
   }
   #mid_nav{
   
   }
   .navbar-brand{

   }
</style>
<div style="background-color: blue">
 <ul class="nav nav-tabs">

                <li><a href="{:U('BodySpace/Index')}" id="User_nav" >空间</a></li>
                <li><a href="{:U('Exercise/exc_common')}" id="Exercise_nav">健身</a></li>
                <li class="active"><a href="{:U('nri/Index')}" id="Nutri_nav">饮食</a></li>
                <li><a href="{:U('near/Index')}" id="Around_nav">周边</a></li>
                <li><a href="#" id="Mall_nav">商城</a></li>

</ul>
</div>

          
    


      
      
        <div class="collapse navbar-collapse navbar-right">
                <if condition="is_login()">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-left:0;padding-right:0">{:get_username()} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{:U('User/profile')}">修改密码</a>
                                <li><a href="{:U('User/logout')}">退出</a>
                            </ul>
                      
                    </ul>
                <else/>
                    <ul class="nav" style="margin-right:0">
                        <li>
                            <a href="{:U('User/login')}">登录</a>
                        
                        <li>
                            <a href="{:U('User/register')}" style="padding-left:0;padding-right:0">注册</a>
                        
                    </ul>
                </if>
            </div>
       
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>


