<extend name="Base/common" />
<block name="poster">
</block>
<block name="header">    
        <div class="container">
            <img src="Public/Home/images/big_tm/去健身.png">
        </div>
    
</block>

<block name="body">
<style>
    body{
        background-color: white;
        background: url('');
    }
    .emailist{border:1px solid #bdbdbd; border-radius: 4px; background-color:#fff; color:#666; font-size:14px; list-style-type:0; padding:0; margin:0; overflow:hidden;}
    .emailist li{padding:2px 11px; cursor:pointer;}
    .emailist .on, .emailist li:hover{background-color:#eee;}
    .succeed {padding: 3px;background: url(./Public/Home/images/sucess.png) no-repeat #ffffff;width: 16px;height: 16px;position: absolute;display: inline-block;}
    .steps{border-bottom: 2px solid #e6e6e6;position: relative;height: 46px;}
    .steps ul{width: 720px;margin: 0 auto;list-style: none;padding: 0;display: block;font-size: 1.3em;}
    .steps ul li{float: left;width: 150px;height: 46px;padding-left: 70px;font-weight: bold;display: inline;}
    .steps ul .active{border-bottom: 2px solid #ff4700}
    .mgTopPct5{margin-top: 5%};
</style>
<div class="steps">
    <ul>
        <li>填写信息</li>
        <li class="active">验证邮箱</li>
        <li>注册成功</li>
    </ul>
    <div class="clearfix"></div>
</div>
<section>
        <div class="row mgTopPct5">
            <div class="span12 mgTopPct5">
                您是否收到了激活邮件？如果没收到可以点击左侧的【重新发送邮件】按钮，收到邮件后点击验证来完成注册。
            </div>
            <div class="span6 mgTopPct5">
                <button class="btn">重新发送邮件</button>
            </div>
            <div class="span6 mgTopPct5">
                
            </div>
        </div>
    </section>

</block>

<block name="side"> </block>
<block name="script">
    <script src="__STATIC__/jquery.mailAutoComplete-4.0.js"></script>
    <script type="text/javascript">
        $(document)
                .ajaxStart(function() {
                    $("button:submit").addClass("log-in").attr("disabled", true);
                })
                .ajaxStop(function() {
                    $("button:submit").removeClass("log-in").attr("disabled", false);
                });

        function email(){
            var url = "{:U('user/email')}";
            $.post(url,{1:1},function(data){
                alert('发送成功!');
            })
        }
    </script>
</block>
