<extend name="Base/common" />
<block name="poster">
</block>
<block name="header">    
        <div class="container">
            <img src="Public/Home/images/big_tm/去健身.png">
        </div>
    
</block>


<block name="body">
<style>
    body{
        background-color: white;
        background: url('');
    }
    .steps{border-bottom: 2px solid #e6e6e6;position: relative;height: 46px;}
    .steps ul{width: 720px;margin: 0 auto;list-style: none;padding: 0;display: block;font-size: 1.3em;}
    .steps ul li{float: left;width: 150px;height: 46px;padding-left: 70px;font-weight: bold;display: inline;}
    .steps ul .active{border-bottom: 2px solid #ff4700}
    .mgTopPct5{margin-top: 5%};
</style>
<div class="steps">
    <ul>
        <li>填写信息</li>
        <li>验证邮箱</li>
        <li class="active">注册成功</li>
    </ul>
    <div class="clearfix"></div>
</div>
<section>
        <div class="row">
            <div class="span2">
            </div>
            <div class="span2">
                <img src="./Public/Home/images/ok.png">
            </div>
            <div class="span8" style="font-size:30px;line-height:30px;">
                恭喜，注册成功。<br>
                是否<a href="#">完善用户信息</a>.       
            </div>
        </div>
    </section>

</block>

<block name="side"> </block>
<block name="script">
</block>
