<extend name="User/setting" />
<block name="setting_content">
            <div class="user_info">
                <form class="form-horizontal" action="{:U()}" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">头像</label>
                        <div class="controls">
                            <a href="#myModal" role="button"  data-toggle="modal">
                               <div id="img_save">
                                   <?php echo avatars();?>
                               </div> 
                            </a>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">昵称</label>
                        <div class="controls">
                            <input type="text" name="nickname" value="{$result.nickname}" id="inputEmail" placeholder="昵称">
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="control-group">
                        <label class="control-label" for="realName">真实姓名</label>
                        <div class="controls">
                            <input type="text" name="realname"value="{$result.realname}"  id="realName" placeholder="真实姓名">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="sex">性别</label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name='sex' value="1" <if condition="$result['sex'] eq 1 ">checked</if> id="sex1" value="option1" checked>
                                男
                            </label>
                            <label class="radio">
                                <input type="radio" name="sex" value="2" <if condition="$result['sex'] eq 2 ">checked</if> id="sex2" value="option2">
                                女
                            </label>
                        </div>
                    </div>
                    <div class="hr"></div>
    
                    <div class="control-group">
                        <label class="control-label" for="time-start">生日</label>
                        <div class="controls">
                            <input type="text" name="birthday" value="{$result.birthday}" id="time-start" placeholder="生日">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">职业</label>
                        <div class="controls">
                            <input type="text" name="occupation" value="{$result.occupation}" id="inputPassword" placeholder="职业">
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">电话号码</label>
                        <div class="controls">
                            <input type="text" name="telephone" value="{$result.telephone}" id="inputPassword" placeholder="电话号码">
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">家庭住址</label>
                        <div class="controls">
                            <input type="text" id="homeadd" name="homeadd" value="{$result.homeadd}" placeholder="家庭住址" onclick="show_address(this)">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">健身房住址</label>
                        <div class="controls">
                            <input type="text" name="gymadd" value="{$result.gymadd}" id="inputPassword" placeholder="健身房住址">
                        </div>
                    </div>
                    <div class="span8 Validform_checktip text-warning"></div>
                    <input type="hidden" name=id value="{$result.id}">
                    <div class="hr"></div>
                    <div class="control-group">
                        <label class="control-label"></label>
                        <label class="control-label"></label>
                        <div class="controls">
                            <button type="submit" class="btn"> 保 存 </button>
                        </div>
                    </div>
                </form>
            </div>
        </block>
<block name="hide">
    <!-- Modal -->
    <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:750px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">上传头像</h4>
                </div>
                <div class="modal-body">
                    <div id="altContent"  ><!-- 上传图片容器 -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="hide" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal end-->
    <!-- 地址选择器 -->
    <div class="modal hide fade" id="Address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel2">地址选择</h4>
                </div>
                <div class="modal-body">
                    <div style="width:100%;" class="province">
                        <volist name="province" id="vo">
                            <a href="javascript:;" id="{$vo.id}" name={$vo.name} onclick="show_citys(this);$(this).css('color','red').siblings().css('color','');">{$vo.name}</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                        </volist>
                    </div>
                    <div style="width:100%;margin-top:5px;" class="city">
                        <hr>
                    <?php
                        foreach ($cityinfo as $k => $v) {
                          echo "<div  id=city-".$k.">";
                            foreach ($cityinfo[$k] as $key => $value) {
                                echo "<a href=javascript:; id=$value[id] name=$value[name] onclick=show_sectioninfo(this)>$value[name]</a>&nbsp&nbsp&nbsp&nbsp&nbsp";
                             }
                          echo "</div>";
                        }
                    ?>
                    </div>
                    <div style="width:100%;margin-top:5px;" class="sectioninfo_show">
                        <hr>
                        <?php
                            foreach ($sectioninfo as $k => $v) {
                              echo "<div  id=sectioninfo-".$k.">";
                                foreach ($sectioninfo[$k] as $key => $value) {
                                    echo "<a href=javascript:; name=$value[name]  onclick='sectioninfo(this)';>$value[name]</a>&nbsp&nbsp&nbsp&nbsp&nbsp";
                                 }
                              echo "</div>";
                            }
                        ?>
                    </div>
                </div>
                <span id="province_show"></span>-<span id="city_show"></span>-<span id="sectioninfo_show"></span>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="save_address" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
    <!--地址选择器 结束-->
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

    <script src="http://open.web.meitu.com/sources/xiuxiu.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.onload=function(){
            xiuxiu.embedSWF("altContent",5,"550","550");
               /*第1个参数是加载编辑器div容器，第2个参数是编辑器类型，第3个参数是div容器宽，第4个参数是div容器高*/
            var url = "{:U('user/upload')}";
            xiuxiu.setUploadURL("<?php echo C('HTTP_ADDRESS') ?>"+url);//修改为您自己的上传接收图片程序 
            xiuxiu.onInit = function ()
            {   
                var img_src   = "__ROOT__/Uploads/avatars/54/ad37eda6-830f-7b4e-788c-c912831c9d08.jpg";
                xiuxiu.loadPhoto(img_src);
            }     
            xiuxiu.onUploadResponse = function (data)
            {
                var obj = eval('(' + data + ')');
                if(obj.status==1){
                  $("#img_save").html("<img width=60 id=img_src height=60 src="+obj.img+" alt=>");
                  $("#hide").click();
                }else{
                    alert('服务器繁忙！');
                }
            }
        }
        $(document)
                .ajaxStart(function() {
                    $("button:submit").addClass("log-in").attr("disabled", true);
                })
                .ajaxStop(function() {
                    $("button:submit").removeClass("log-in").attr("disabled", false);
                });
        $("form").submit(function(){
            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            return false;

            function success(data){
                if(data.status){
                    window.location.href = data.url;
                } else {
                    self.find(".Validform_checktip").text(data.info);
                }
            }
        });
    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    //:visible
    function show_address(obj){
        if(obj.value==""){
            $(".sectioninfo_show div").hide();
            $(".province a:eq(0)").click();  
        }else{
            var val     = obj.value.split(" ");
            var length  = val.length;
            if(length>0){
                $(".province a[name="+val[0]+"]").click();
            }
            if(length>1){
                $(".city div a[name="+val[1]+"]").click();
            }
            if(length>2){
                $(".sectioninfo_show div a[name="+val[2]+"]").click();
            }
        }
        $('#Address').modal();
    }
    //城市
    function show_citys(obj){
        $("#province_show").text($(obj).text());
        $("#city-"+obj.id).show().siblings('div').hide();
    }
    //城市下的区域
    function show_sectioninfo(obj){
        $("#city_show").text($(obj).text());
        $(obj).css('color','red').siblings().css('color','');
        $("#sectioninfo-"+obj.id).show().siblings('div').hide();
    }
    //区域选择
    function sectioninfo(obj){
        $(obj).css('color','red').siblings().css('color','');
        $("#sectioninfo_show").text($(obj).text());
    }
    $("#save_address").click(function(){
        var province = $("#province_show").text();
        var city     = $("#city_show").text();
        var sectioninfo = $("#sectioninfo_show").text();
        $("#homeadd").val(province+" "+city+" "+sectioninfo);
    })
    </script>
</block>