<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增</h2>
    </div>
    <form action="{:U('user/add_info')}" method="post" class="form-horizontal">
       
        <div class="form-item">
            <label class="item-label">真实姓名<span class="check-tips">（真实姓名不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="realname" value="">
            </div>
        </div> 

        <div class="form-item">
            <label class="item-label">昵称<span class="check-tips">(昵称不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="nickname" value="">
            </div>
        </div> 


        <div class="form-item">
            <label class="item-label">性别<span class="check-tips">（性别不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="sex" value="">
            </div>
        </div> 

        <div class="form-item">
            <label class="item-label">生日<span class="check-tips">（生日不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="birthday" value="">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">电话<span class="check-tips">（电话不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="telephone" value="">
            </div>
        </div>    

        <div class="form-item">
            <label class="item-label">住址<span class="check-tips">（住址不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="homeadd" value="">
            </div>
        </div>        


        <div class="form-item">
            <label class="item-label">职业<span class="check-tips">（职业不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="occupation" value="">
            </div>
        </div>     


        <div class="form-item">
            <label class="item-label">健身房<span class="check-tips">（健身房不能为空）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="gymadd" value="">
            </div>
        </div>

        
        <input type="hidden" value="<?php echo $_GET['table'] ?>" name="table">
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
