
<extend name="Base/common"/>
<block name="body">
    <include file="Public/excNav"/>
    
    
<div class="col-md-10" id="video_con"> 
      <div class="col-md-6" id="video_con">
   video
     </div>
        <div class="col-md-6" id="describe_con";>
           <p>Bodyweight Squat </p>
           <p>Also Known As: prisoner squat, air squat </p>

           <p>Exercise Data</p>
           <p>Type: Strength</p>
           <p>Main Muscle Worked: Quadriceps </p>
           <p>Other Muscles: Glutes, Hamstrings </p>
           <p>Equipment:Body Only</p>
           <p>Mechanics Type: Compound</p>
           <p>Level: Beginner</p>
           <p>Sport: No</p>
           <p>Force: Push</p>
           <p>Your Rating: </p> 

           <p> Login to rate</p>

  
            <p>Excellent</p>
            <p>Exercise Rating Read Bodyweight Squat Reviews SHARE </p> 

            <p>Print Exercise Widget SHARE  </p>
            <p>Print Exercise Widget </p>
        
          </div>
   
    <div class="col-md-12";>
        <div class="nav_s">
            <div class="col-md-12";style="margin-bottom:20px;">
                <h4 style="padding-top:30px;">Bodyweight Squat Images</h4>
            </div>
                  <div class="col-md-12" style="margin-top:20px;">
                        <div class="col-md-6"><img src="" alt="tu1" /></div>
                        <div class="col-md-6"><img src="" alt="tu2" /></div>
                  </div>
         </div>
    </div>


  <div class="col-md-12";>
        <div class="nav_s" >
            <div class="col-md-12";>
                <h4 style="padding-top:30px;">Bodyweight Squat Guide</h4>
            </div>
                  <div class="col-md-12" style="margin-top:20px;">
                        <div class="col-md-4"><img src="__PUBLIC__/Home/images/jirou.jpg" alt="tu1" /></div>
                        <div class="col-md-8">
                            <p>1.Stand with your feet shoulder width apart. You can place your hands behind your head. This will be your starting position.
                             </p>
                            <p>2.Stand with your feet shoulder width apart. You can place your hands behind your head. This will be your starting position.
                             </p>
                            <p>3.Stand with your feet shoulder width apart. You can place your hands behind your head. This will be your starting position.
                            </p>
                        </div>
                  </div>
         </div>
    </div>  


   <div  class="col-md-12";style="margin-top:20px;">
        <div class="nav_s">
            <div class="col-md-12";>
                <h4 style="padding-top:30px;">Alternative Exercises For Bodyweight Squat</h4>
            </div>
                  <div class="col-md-12" style="margin-top:20px;">
                        <div class="col-md-7">No alternative exercises found. Know of one? Tell us in the tips section below.</div>
                        <div class="col-md-5">
                             <p>1.Stand with your feet shoulder width apart. You can place your hands behind your head. This will be your starting position.
                             </p>
                            <p>2.Stand with your feet shoulder width apart. You can place your hands behind your head. This will be your starting position.
                             </p>
                            <p>3.Stand with your feet shoulder width apart. You can place your hands behind your head. This will be your starting position.
                            </p>

                        </div>
                  </div>
         </div>
    </div>



   <div  class="col-md-12";style="margin-top:20px;">
        <div class="nav_s">
                 <div class="col-md-12";><h4 >Tips and Reviews - Login to rate</h4></div>
                
                  <div class="col-md-12" >
                        <div class="col-md-12"style="background-color:#ccc; height:50px;  border: 1px solid #BABABA;line-heioght:50px;margin-bottom:30px;padding-top:15px;margin-top:10px;">Login to rate, review, or leave a tip for this exercise</div>
                        <div  class="col-md-12" style="border:1px solid #ccc;height:auto;">
                              <div  class="col-md-12" style="border-bottom:1px solid #ccc;height:150px;padding-top:30px;">
                                    <div class="col-md-10"><h5>TIP:REVERSE flyes</h5><p style="padding-top:10px;">Mar 2, 2014 4:38 AM: Why not try push ups hands shoulder width apart habds turned in fingers facing in</p></div>
                                    <div class="col-md-2"><p>A:xxxxxxxxxx</p>B:xxxxxxxxxx<p></p>B:xxxxxxxxxx<p></p>C:xxxxxxxxxx</div>
                              </div>


                              <div  class="col-md-12" style="border-bottom:1px solid #ccc;height:150px;padding-top:30px;">
                                    <div class="col-md-10"><h5>TIP:REVERSE flyes</h5><p style="padding-top:10px;">Mar 2, 2014 4:38 AM: Why not try push ups hands shoulder width apart habds turned in fingers facing in</p></div>
                                    <div class="col-md-2"><p>A:xxxxxxxxxx</p>B:xxxxxxxxxx<p></p>B:xxxxxxxxxx<p></p>C:xxxxxxxxxx</div>
                              </div>



                              <div  class="col-md-12" style="border-bottom:1px solid #ccc;height:150px;padding-top:30px;">
                                    <div class="col-md-10"><h5>TIP:REVERSE flyes</h5><p style="padding-top:10px;">Mar 2, 2014 4:38 AM: Why not try push ups hands shoulder width apart habds turned in fingers facing in</p></div>
                                    <div class="col-md-2"><p>A:xxxxxxxxxx</p>B:xxxxxxxxxx<p></p>B:xxxxxxxxxx<p></p>C:xxxxxxxxxx</div>
                              </div>



                              <div  class="col-md-12" style="border-bottom:1px solid #ccc;height:150px;padding-top:30px;">
                                    <div class="col-md-10"><h5>TIP:REVERSE flyes</h5><p style="padding-top:10px;">Mar 2, 2014 4:38 AM: Why not try push ups hands shoulder width apart habds turned in fingers facing in</p></div>
                                    <div class="col-md-2"><p>A:xxxxxxxxxx</p>B:xxxxxxxxxx<p></p>B:xxxxxxxxxx<p></p>C:xxxxxxxxxx</div>
                              </div>


                              <div  class="col-md-12" style="border-bottom:1px solid #ccc;height:150px;padding-top:30px;">
                                    <div class="col-md-10"><h5>TIP:REVERSE flyes</h5><p style="padding-top:10px;">Mar 2, 2014 4:38 AM: Why not try push ups hands shoulder width apart habds turned in fingers facing in</p></div>
                                    <div class="col-md-2"><p>A:xxxxxxxxxx</p>B:xxxxxxxxxx<p></p>B:xxxxxxxxxx<p></p>C:xxxxxxxxxx</div>
                              </div>



                              <div  class="col-md-12" style="border-bottom:1px solid #ccc;height:150px;padding-top:30px;">
                                    <div class="col-md-10"><h5>TIP:REVERSE flyes</h5><p style="padding-top:10px;">Mar 2, 2014 4:38 AM: Why not try push ups hands shoulder width apart habds turned in fingers facing in</p></div>
                                    <div class="col-md-2"><p>A:xxxxxxxxxx</p>B:xxxxxxxxxx<p></p>B:xxxxxxxxxx<p></p>C:xxxxxxxxxx</div>
                              </div>
                              
                        </div> 

                  </div>
         </div>
    </div>





</div>

 








        <div class="col-md-2" id="rating_con">

            <div id="save_con">
save
            </div>
        </div>

        <div class="col-md-6" id="img1_con">

        </div>
        <div class="col-md-6" id="img2_con">

        </div>
        <div class="col-md-6" id="img3_con">

        </div>
        <div class="col-md-6" id="img4_con">

        </div>

        <div class="col-md-3" id="group_con">

        </div>
        <div class="col-md-9" id="text_con">

        </div>
 
        <div class="col-md-7" id="relate_con">

        </div>
        <div class="col-md-5" id="top_con">

        </div>

        <div class="col-md-6" id="img1_con">

        </div>
        <div class="col-md-6" id="img2_con">

        </div>
        <div class="col-md-6" id="img3_con">

        </div>
        <div class="col-md-6" id="img4_con">

        </div>



<div class="col-md-6">
 <label class="item-label">内容<span class="check-tips"></span></label>
          <label class="textarea input-large">
                <textarea id="content"></textarea>
          </label>
          <span id="error_content" style="color:red;display:none;">内容不能为空!</span>
        <br>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    <br>
    <div id="save">
      <volist name="list" id="vo">
          <div class="wc_list_nod clearfix">
                  <br>
                  <div class="nod_inner clearfix" >
                      <div><?php $result = review_comment($vo['uid']);echo $result['username']; ?></div>
                      <div class="wb_cmR comm_main">
                          <div class="content_txt">{$vo.content}</div>
                          <div class="content_txt">{$vo.create_time}</div>
                          <?php echo reply_comment($vo['cid']) ?>
                          <div class="rl_area" id="{$vo['cid']}_reply">
                                <a href="javascript:;" onclick="$(this).siblings('div').toggle();">回复</a>
                                <div style="display:none;" id={$vo.uid}_togg>
                                  <label class="textarea input-large">
                                        <textarea id="content_reply-{$vo.cid}"></textarea>
                                  </label>  
                                  <div style="display:none;color:red;">评论不能为空!</div>
                                  <a href="javascript:;" id="content_submit" onclick='content_submit(this)' name={$vo.cid}-<?php echo is_login()  ?>>提交</a>
                                </div>
                          </div>
                      </div>
                  </div>
                  <br>
          </div>
      </volist>
    </div>
	</div>

</block>

<block name="script">
<script type="text/javascript">
    $(document).ready(function(){
          var url     = "{:U('Exercise/add_review')}"; 
          $("#submit").click(function(){
            var eid     = "<?php echo $_GET['eid'] ?>";
            if(eid==""){return}
            var content = $("#content").val();
            var content = content.replace(/[ ]/g,"");
            if(content!=""){
              $("#error_content").hide();
              $.post(url,{content:content,eid:eid},function(data){
                if(data.status){
                  $("#content").val("");
                  $("#save").prepend("<div class='nod_inner clearfix' ><div>"+data.name+"</div><div class='wb_cmR comm_main'><div class='content_txt'>"+data.content+"</div><div class='content_txt' >"+data.create_time+"</div><div class='rl_area' id="+data.cid+"_reply><a onclick=togg("+data.cid+");>回复</a><div style='display:none;' id="+data.cid+"-togg><label class='textarea input-large'><textarea id=content_reply-"+data.cid+"></textarea></label><div style='display:none;color:red;' id=nu-"+data.cid+">评论不能为空!</div><a onclick=content_submit(this); name="+data.cid+"-"+data.uid+">提交</a></div></div></div></div>").fadeIn();
                }
              },'json')
            }else{
              $("#error_content").show();
            }
          })
    })

    function togg(obj){
      var togg = "#"+obj+"-togg";
      $(togg).show();
    }

    function togghide(obj){
      var togg = "#"+obj+"-togg";
      $(togg).hide();
    }

    function reply_show(obj,type){
      if(type=="show"){
         var togg = "#nu-"+obj;
        $(togg).show();
      }else{
        var togg = "#nu-"+obj;
        $(togg).hide();
      }
    }

    function content_submit(obj){
        var id      = obj.name.split("-");
        var cid     = id[0];
        var reply   = "#content_reply-"+cid;
        var content = "#content_reply-"+cid;
        var content = $(content).val();
        var content = content.replace(/[ ]/g,"");
        var uid     = id[1];
        var url     = "{:U('Exercise/reply_save')}";
        var save    = "#"+cid+"_reply";
        if(content!=""){
          reply_show(cid,'hide');
          togghide(cid)
          $.post(url,{content:content,cid:cid,uid:uid},function(data){
            if(data.status){
              $(reply).val("");
              $(save).before("<div style='margin-left:7px;' class='nod_inner clearfix' ><div>"+data.name+"</div><div class='wb_cmR comm_main'><div class='content_txt'>"+data.content+"</div><div class='content_txt'>"+data.create_time+"</div></div>").fadeIn();
            }
          },'json')
        }else{
           reply_show(cid,'show');
        }
    }
  </script>
</block>

