
<extend name="Base/common"/>
<style type="text/css">
     .content{
        width: 900px;
        height: 100px;
        background-color: #000;
     }
</style>
<block name="body">
   <include file="Public/excNav"/>
 <div class="col-md-8">
     <div>
          <p>
            <h3 style="margin-top:30px;font-family:宋体；margin-left:5px;">如何制定你的计划</h3>
          </p>
     </div>
         <hr color="#BABABA" width:100%; size:1px; noshade />
 

     <div>
        <div style="margin-bottom:40px;float:left; padding-right: 65px;">
            <img style="float:left" src="" alt="tub" />
                <h4 >确定你的目标</h4>
                   <p style="width:500px";height:100px;>Build your ultimate workout program. Does your program burn fat, build muscle, or support a different fitness goal? Choose your goal, name your program, describe how it works, select the difficulty level, and let the world know if it's designated for men, women, or everyone</p>
      </div>

     <div style="float:left; width:180px; height:120px; border-left: 1px solid #BABABA;">
          <img src="" alt="tu1" style="padding-left:10px";>
     </div>
  
   
 </div> 

<div>
   
   <div style="margin-bottom:40px;float:left; padding-right: 65px;">
       <img style="float:left" src="" alt="tub" />
          <h4 >确定你的目标</h4>
              <p style="width:500px";height:100px;>Build your ultimate workout program. Does your program burn fat, build muscle, or support a different fitness goal? Choose your goal, name your program, describe how it works, select the difficulty level, and let the world know if it's designated for men, women, or everyone
              </p>
   </div>

    <div style="float:left; width:180px; height:120px; border-left: 1px solid #BABABA;">
     <img src="" alt="tu1" style="padding-left:10px";>
    </div>
  
   
 </div> 

<div>
   
   <div style="margin-bottom:40px;float:left; padding-right: 65px;">
       <img style="float:left" src="" alt="tub" />
           <h4 >确定你的目标</h4>
               <p style="width:500px";height:100px;>Build your ultimate workout program. Does your program burn fat, build muscle, or support a different fitness goal? Choose your goal, name your program, describe how it works, select the difficulty level, and let the world know if it's designated for men, women, or everyone
               </p>
   </div>

    <div style="float:left; width:180px; height:120px; border-left: 1px solid #BABABA;">
     <img src="" alt="tu1" style="padding-left:10px";>
    </div>
  
   
 </div> 

<div>
   
   <div style="margin-bottom:40px;float:left; padding-right: 65px;">
       <img style="float:left" src="" alt="tub" />
           <h4 >确定你的目标</h4>
              <p style="width:500px";height:100px;>Build your ultimate workout program. Does your program burn fat, build muscle, or support a different fitness goal? Choose your goal, name your program, describe how it works, select the difficulty level, and let the world know if it's designated for men, women, or everyone
              </p>
   </div>

    <div style="float:left; width:180px; height:120px; border-left: 1px solid #BABABA;">
     <img src="" alt="tu1" style="padding-left:10px";>
    </div>
  
   
   </div> 
       <hr color="#ccc" width:100%; size:1px; noshade />
   </div>

</div>


<a href="{:U('Exercise/exc_name')}" class="btn btn-primary btn-lg active" role="button">下一步</a>

          
</block>

