<extend name="Base/common"/>
<block name="body">
<style>
    body{
        background-color: #EEF3FA;
    }
    .top-fix-bar .top-fix-inner {
        color: #FFF;
        position: fixed;
        z-index: 500;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 41px;
        color: #BABABA;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    }
    .top-fix-bar .top-fix-inner {
        background-color: #2BA7DF;
    }
        /*#0C6DB7*/
    .top-fix-bar .top-fix-container {
        position: relative;
        height: 41px;
        z-index: 550;
    }
    .top-fix-bar .top-fix-wrap {
        width: 1170px;
        margin: 0px auto;
        position: relative;
    }
    .links {
        color: white;
    }
    .main-container{
        margin-top: 50px;
    }
    .bd1{
        border: 1px solid red;
    }
    .panel{
        margin: 15px 0px; padding: 39px 19px 14px;
        border-radius: 10px;
        border: 1px solid rgb(221, 221, 221);
        position: relative;
        background-color: rgb(255, 255, 255);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        min-height: 200px;
    }
    .h200{
        height: 200px;
    }
    .h300{
        height: 300px;
    }
    .h600{
        height: 600px;
    }
    .h670{
        height: 670px;
    }
    .oriBgcolor{
        background-color: #DBDBDC;
        border: 1px solid #AAA;
    }
    .b{
        font-weight: bold;
        font-size: 1.1em;
    }
    
    
    .nav-sec-desc{
        padding: 5px 15px;
    }
    .nav-sec{
        height: 22px;
        border-bottom: 3px solid #C8C9C9;
    }
    .nav-sec ul{
        list-style: none;
        float: right;
    }
    .nav-sec ul li{
        float: left;
    }
    .nav-sec ul li a{
        color: #000;
        text-decoration: none;
        font-weight: bold;
    }
    .nav-sec ul li .active{
        border-bottom: 3px solid #2BA7DF;
    }
    .nav-sec ul li a:hover{
        text-decoration: none;
    }
    .tsWeekHot{
        margin-top: 0.8em;
        font-size: 24px;
    }
    .ex-panel{
        /**/
        margin: 15px 0px;
        padding: 39px 19px 14px;
        border-radius: 5px;
        border: 1px solid rgb(221, 221, 221);
        position: relative;
        background-color: #DBDBDC;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        height: 135px;

    }
    .actMark{
        height: 40px;
        line-height: 40px;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        font-size: 32px;
        background-color: #000;
        color: #FFF;
        opacity:0.65;
        filter:'opacity(65)';
        display: none;
    }
    .ex-desc{
        width:100%;
        position: absolute;
        height: 40px;
        line-height: 40px;
        bottom:0px;
        left: 0px;
        background-color: #F6F6F6;
    }
    .ex-desc ul{
        width:100%;
        height: 40px;
        line-height: 40px;
        list-style: none;
        display: inline-table;
        margin-left: 0px;
    }
    .ex-desc li{
        height: 40px;
        line-height: 40px;
        text-align: center;
        float: left;
        width: 33.3%;
        *width:33%;
    }
    .ex-desc div{
        display: inline-block;
    }
    .ex-hr{
        margin: 0 auto;
        width: 99%;
        border: 2px solid #E0E0E0;
        border-radius: 1px;
    }
    .ex-checkbox{
        height: 24px;
        line-height: 24px;
        width: 110px;
        float: left;
        margin-right: 5px;
    }
    .ex-checkbox .icheckbox_square-blue{
        float: right;
        margin-right: 15px;
    }
    .exe-imgs{
        width: 280px;height: 240px;margin: 30px auto;
    }
    .exe-imgs img{
        padding: 4px;
    }
    .player{
        background-color: #CCC;
        min-height: 160px;
    }
    .discuss{
        margin: 8px 0px;
    }
    .grades{

    }
    .grade{
        width:18px;
        height:18px;
        line-height: 18px;
        float: left;
        margin:5px 5px;
        text-align: center;

    }
    .grade1{
        background: url("__PUBLIC__/Home/images/grade.png") no-repeat;
    }
    .grade1-active , .grade1:hover{
        background: url("__PUBLIC__/Home/images/grade1.png") no-repeat;
    }
    .grade2{
        background: url("__PUBLIC__/Home/images/grade.png") no-repeat;
    }
    .grade2-active , .grade2:hover{
        background: url("__PUBLIC__/Home/images/grade2.png") no-repeat;
    }
    .grade3{
        background: url("__PUBLIC__/Home/images/grade.png") no-repeat;
    }
    .grade3-active , .grade3:hover{
        background: url("__PUBLIC__/Home/images/grade3.png") no-repeat;
    }
    .grade4{
        background: url("__PUBLIC__/Home/images/grade.png") no-repeat;
    }
    .grade4-active , .grade4:hover{
        background: url("__PUBLIC__/Home/images/grade4.png") no-repeat;
    }
    .grade5{
        background: url("__PUBLIC__/Home/images/grade.png") no-repeat;
    }
    .grade5-active , .grade5:hover{
        background: url("__PUBLIC__/Home/images/grade5.png") no-repeat;
    }
    .headPic{
        width: 80px;
        height: 80px;
        border-radius: 80%;
        background-color: #CCC;
    }
    .floatL{
        float: left;
    }
    .floatR{
        float: right;
    }
    .actTitle{
        height: 35px;
        line-height: 35px;
    }
    .actName{
        font-size: 24px;
        font-weight: bold;
    }
</style>
    <include file="Public/excNav"/>
    <link href="__STATIC__/iCheck/skins/square/blue.css" rel="stylesheet"/>
    <script src="__STATIC__/iCheck/icheck.min.js?v=1.0.2"></script>
    <script>
        $(function(){
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            $(".iCheck-helper").click(function(){
                var $chk = $(this).prev();
                if($chk.hasClass("selectall")){
                    if($chk.prop("checked")){
                        $chk.parents(".span5").find(":checkbox").not($chk).iCheck("check");
                    }else{
                        $chk.parents(".span5").find(":checkbox").not($chk).iCheck("uncheck");
                    }
                }
            });
        });
    </script>
    
<div class="row main-container">
    <div class="span9">
    <div class="row">
        <div class="span5" style="height: 100%;">
            <div  class="panel">
                <div class="actTitle">
                    <img src="__PUBLIC__/Home/images/cash.png"><span class="actName">股四头肌伸展  4.5</span>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="span2">
                        <div class="floatL">
                            运动方式:<br />
                            运动类型:<br/>
                            主要肌群:<br/>
                            次要肌群:<br/>
                            器械:<br/>
                            试用人群：<br />
                            等级:<br />
                        </div>
                        <div class="floatR">
                            {$info.ename}<br/>
                            {$info.etname}<br />
                            {$info.mtname}<br/>
                            <br/>
                            {$info.eqtname}<br/>
                            {$info.sex}性<br/>
                            {$info.ltname}<br />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="span2">
                        <img src="{$info.imgurl|default='__PUBLIC__/Home/images/p17.png'}" style="height: 290px;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="span4" style="height: 100%;">
            <div class="panel" style="height: 330px;">
                <div class="actTitle">
                    <img src="__PUBLIC__/Home/images/cash.png"><span class="actName">股四头肌伸展  4.5</span>
                </div>
                <div class="exe-imgs">
                    <div style="float: left;"><img src="__PUBLIC__/Home/images/gfsg.png"/></div>
                    <div style="float: left;"><img src="__PUBLIC__/Home/images/gfsg.png"/></div>
                    <div style="float: left;"><img src="__PUBLIC__/Home/images/gfsg.png"/></div>
                    <div style="float: left;"><img src="__PUBLIC__/Home/images/gfsg.png"/></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <img src="__PUBLIC__/Home/images/exe-guide.png"/>运动指导
        <div class="row-fluid">
            <div class="span7" style="min-height: 200px;">
                <!--<ol>
                
                    <li>锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻锻炼锻炼</li>
                    <li>锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼</li>
                    <li>锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻炼锻锻炼</li>
                    
                </ol>-->
                {$info.description}
            </div>
            <div class="span5">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div class="panel">
        <img src="__PUBLIC__/Home/images/exe-action.png">相关动作
        <div class="row-fluid">
            <div class="span4">
                <div class="ex-panel">
                    <div class="actMark">
                        9
                    </div>
                    <div class="ex-desc">
                        <ul>
                            <li><img src="__PUBLIC__/Home/images/like.png" style="vertical-align: middle;">硬拉</li>
                            <li><img src="__PUBLIC__/Home/images/rou.png" style="vertical-align: middle;">硬拉</li>
                            <li><img src="__PUBLIC__/Home/images/exe.png" style="vertical-align: middle;">硬拉</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="ex-panel">
                    <div class="actMark">
                        9
                    </div>
                    <div class="ex-desc">
                        <ul>
                            <li><img src="__PUBLIC__/Home/images/like.png" style="vertical-align: middle;">硬拉</li>
                            <li><img src="__PUBLIC__/Home/images/rou.png" style="vertical-align: middle;">硬拉</li>
                            <li><img src="__PUBLIC__/Home/images/exe.png" style="vertical-align: middle;">硬拉</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="ex-panel">
                    <div class="actMark">
                        9
                    </div>
                    <div class="ex-desc">
                        <ul>
                            <li><img src="__PUBLIC__/Home/images/like.png" style="vertical-align: middle;">硬拉</li>
                            <li><img src="__PUBLIC__/Home/images/rou.png" style="vertical-align: middle;">硬拉</li>
                            <li><img src="__PUBLIC__/Home/images/exe.png" style="vertical-align: middle;">硬拉</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <img src="__PUBLIC__/Home/images/exe-action.png" style="vertical-align: middle;"/><?php echo count($exercisecomment); ?>条评论 <?php if(count($exercisecomment)==0): ?>| 还没有评论,赶快抢<a href="javascript:;" onclick="sofa()">沙发</a><?php endif;?>
        
        <div class="discuss">
            <div class="row-fluid">
                <div class="span3">
                    <div class="headPic">
                    </div>
                </div>
                <div class="span9">
                    <div class="grades">
                        <div class="grade grade1">1</div>
                        <div class="grade grade2">2</div>
                        <div class="grade grade3">3</div>
                        <div class="grade grade4">4</div>
                        <div class="grade grade5">5</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="comment">
                        <textarea rows="3" style="resize: none;width: 80%;" id="cmtinfo"></textarea>
                        <div id="cmterrno" style="display:none;color: red;">请输入评论内容！</div>
                    </div>
                    <div class="go">
                        <button class="btn btn-success" onclick="review()">发布</button>
                        <button class="btn" onclick="cancel('review')">取消</button>
                    </div>
                </div>
            </div>
        </div>
        
        <?php 
        
        function recursiveReply($reply,$type){
            $str = "";
            foreach($reply as $key=>$value){
                if($type==1){ $str .= '<div class="span9">'; }
                $str .= '<div class="discuss-name">
                    '.$value['nickname'].'
                </div>
                <div class="comment">
                    '.$value['content'].'
                </div>
                <div class="go" style="height:26px;line-height:26px;" id="cid_'.$value['cid'].'">
                    <div class="grade grade2-active">'.count($value['reply']).'</div> <a href="javascript:;" onclick="replytext(this,'.$value['cid'].')">回复</a> ● '.time_tran($value['create_time']).'
                </div>';
                if(isset($value['reply']) && count($value['reply'])>0){ 
                    echo $str;
                    recursiveReply($value['reply'],1);
                }else{
                    if($type==1){
                        $str .= '</div>';
                    }
                    echo $str;
                }         
            }
            
            
        }
        ?>
        

        <volist name="exercisecomment" id="vo" key="k">
        <div class="ex-hr"></div>
        <div class="discuss">
            <div class="row-fluid">
                <div class="span3">
                    <div class="headPic">
                        <img src="{$vo.iconurl}" />
                    </div>
                </div>
                <div class="span9">
                    <div class="discuss-name">
                        {$vo.nickname}
                    </div>
                    <div class="comment">
                        {$vo.content}
                    </div>
                    <div class="go" style="height:26px;line-height:26px ;" id="cid_{$vo.cid}">
                       <div class="grade grade4-active"><?php echo count($vo['reply']); ?></div> <a href="javascript:;" onclick="replytext(this,{$vo.cid})">回复</a> ● <?php echo  time_tran($vo['create_time']);?>
                    </div>
                    <?php if(count($vo['reply'])>0):?>
                    <div class="span9">
                        <?php recursiveReply($vo['reply'],0);?>
                    </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        </volist>
        
        
        <!--<div class="span9">
                        <div class="discuss-name">
                            Zephyr
                        </div>
                        <div class="comment">
                            啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                        </div>
                        <div class="go" style="height:26px;line-height:26px ;">
                            <div class="grade grade2-active">2</div> <a href="javascript:;" onclick="replytext(this,{$vo.cid})">回复</a> ● 10小时以前
                        </div>
                         <?php //recursiveReply($vo['reply']);?>        
                    </div>-->
        <!--
        <div class="ex-hr"></div>
        <div class="discuss">
            <div class="row-fluid">
                <div class="span3">
                    <div class="headPic">
                    </div>
                </div>
                <div class="span9">
                    <div class="discuss-name">
                        Zephyr
                    </div>
                    <div class="comment">
                        啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                        啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                        啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                    </div>
                    <div class="go" style="height:26px;line-height:26px ;">
                        <div class="grade grade2-active">2</div> <a href="#">回复</a> ● 10小时以前
                    </div>
                    <div class="comment">
                        <textarea rows="3" style="resize: none;width: 80%;"></textarea>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
</div>  
    
</block>

<block name="script">
<script type="text/javascript">
    $(function(){
        
    });
    //弹出回复框框
    function replytext(obj,replyid){
        var $cmt = $("#cmt");
        var replyid = replyid;
        if($cmt.length>0){
            $cmt = $cmt.remove();
            $cmt.find("textarea").val("");
            $cmt.find("#replyerrno").text("");
            $cmt.find("button").attr('onclick',"reply('"+replyid+"')");
            $(obj).parent().after($cmt);
            return false;
        }
        var html = "";
        html = "<div id=\"cmt\">";
        html += "<div class=\"comment\">";
            html += "<textarea rows=\"3\" style=\"resize: none;width: 80%;\" id=\"replyinfo\"></textarea>";
        html += "</div>";
        html += "<div class=\"go\">";
            html += "<div id=\"replyerrno\" style=\"display:none;color: red;\">请输入回复内容！</div>";
            html += "<button class=\"btn btn-success\" onclick=\"reply("+replyid+")\">回复</button>";
            /*html += "<button class=\"btn\" onclick=\"cancel('reply')\">重置</button>";*/
        html += "</div>";
        html += "</div>";
        $(obj).parent().after(html);
    }
    //做沙发 评论框得到焦点
    function sofa(){
        $("#cmtinfo").focus();
    }
    //评论
    function review(){
        content = $.trim($("#cmtinfo").val());
        if(content == "" || content == null){
            $("#cmterrno").show().text("请输入评论内容！");
            $("#cmtinfo").focus();
            return;
        }
        replyid = 0;
        var url = "{:U('Exercise/reviewedit')}";
        var info = {
            content:content,
            eid:{$info.eid},
            replyid:replyid
        };
        $("#cmterrno").show().text("");
        $.post(url,info,function(data){
            if(data.status==1){
                alert("评论成功");
                addreviewhtml("review",data.info);    //把评论的数据插入到页面中
            }
        },'json');
    }
    //回复
    function reply(replyid){
        var content = $.trim($("#replyinfo").val());
        if(content == "" || content == null){
            $("#replyerrno").show().text("请输入回复内容！");
            $("#replyinfo").focus();
            return;
        }
        replyid = replyid;
        var url = "{:U('Exercise/reviewedit')}";
        var info = {
            content:content,
            eid:{$info.eid},
            replyid:replyid
        };
        $("#replyerrno").show().text("");
        $.post(url,info,function(data){
            if(data.status==1){
                alert("回复成功");
                addreviewhtml("reply",data.info);    //把评论的数据插入到页面中
            }
        },'json');
    }
    
    //清空值
    function cancel(type){
        //评论
        if(type=="review"){
            $("#cmtinfo").val("").focus();
        }else if(type=="reply"){  //回复
            $("#replyinfo").val("").focus();
        }
    }
    //把评论的数据插入到页面中
    function addreviewhtml(type,data){
        var html = "";
        if(type=="review"){
            html += "<div class=\"ex-hr\"></div>";
            html += "<div class=\"discuss\">";
                html += "<div class=\"row-fluid\">";
                    html += "<div class=\"span3\">";
                        html += "<div class=\"headPic\">";
                            html += "<div class=\"headPic\">";
                            html += "<img src=\""+data.iconurl+"\" />";
                            html += "</div>";
                        html += "</div>";
                    html += "</div>";
                    html += "<div class=\"span9\">";
                        html +="<div class=\"discuss-name\">";
                            html += data.nickname;
                        html += "</div>";
                        html += "<div class=\"comment\">";
                            html += data.content;
                        html += "</div>";
                        html += "<div class=\"go\" style=\"height:26px;line-height:26px ;\">";
                            html += "<div class=\"grade grade2-active\">0</div> <a href=\"javascript:;\" onclick=\"replytext(this)\">回复</a> ● "+data.create_time;
                        html += "</div>";
                    html += "</div>";
                html += "</div>";
            html += "</div>";
            $(".ex-hr").eq(0).before(html);
        }else if(type=="reply"){        //把回复的数据插入到页面中
            html += '<div class="span9">'
                    html += '<div class="discuss-name">';
                        html += data.nickname;
                    html += '</div>';
                    html += '<div class="comment">';
                        html += data.content;
                    html += '</div>';
                    html += '<div class="go" style="height:26px;line-height:26px;" id="cid_'+data.cid+'">';
                        html += '<div class="grade grade2-active">0</div> <a href="javascript:;" onclick="replytext(this,'+data.cid+')">回复</a> ● '+data.create_time;
                    html += '</div>';
                html += '</div>';
            $("#cid_"+data.replyid).after(html);
        }
    }

/*
    $(document).ready(function(){
          var url     = "{:U('Exercise/add_review')}"; 
          $("#submit").click(function(){
            var eid     = "<?php echo $_GET['eid'] ?>";
            if(eid==""){return}
            var content = $("#content").val();
            var content = content.replace(/[ ]/g,"");
            if(content!=""){
              $("#error_content").hide();
              $.post(url,{content:content,eid:eid},function(data){
                if(data.status){
                  $("#content").val("");
                  $("#save").prepend("<div class='nod_inner clearfix' ><div>"+data.name+"</div><div class='wb_cmR comm_main'><div class='content_txt'>"+data.content+"</div><div class='content_txt' >"+data.create_time+"</div><div class='rl_area' id="+data.cid+"_reply><a onclick=togg("+data.cid+");>回复</a><div style='display:none;' id="+data.cid+"-togg><label class='textarea input-large'><textarea id=content_reply-"+data.cid+"></textarea></label><div style='display:none;color:red;' id=nu-"+data.cid+">评论不能为空!</div><a onclick=content_submit(this); name="+data.cid+"-"+data.uid+">提交</a></div></div></div></div>").fadeIn();
                }
              },'json')
            }else{
              $("#error_content").show();
            }
          })
    })

    function togg(obj){
      var togg = "#"+obj+"-togg";
      $(togg).show();
    }

    function togghide(obj){
      var togg = "#"+obj+"-togg";
      $(togg).hide();
    }

    function reply_show(obj,type){
      if(type=="show"){
         var togg = "#nu-"+obj;
        $(togg).show();
      }else{
        var togg = "#nu-"+obj;
        $(togg).hide();
      }
    }

    function content_submit(obj){
        var id      = obj.name.split("-");
        var cid     = id[0];
        var reply   = "#content_reply-"+cid;
        var content = "#content_reply-"+cid;
        var content = $(content).val();
        var content = content.replace(/[ ]/g,"");
        var uid     = id[1];
        var url     = "{:U('Exercise/reply_save')}";
        var save    = "#"+cid+"_reply";
        if(content!=""){
          reply_show(cid,'hide');
          togghide(cid)
          $.post(url,{content:content,cid:cid,uid:uid},function(data){
            if(data.status){
              $(reply).val("");
              $(save).before("<div style='margin-left:7px;' class='nod_inner clearfix' ><div>"+data.name+"</div><div class='wb_cmR comm_main'><div class='content_txt'>"+data.content+"</div><div class='content_txt'>"+data.create_time+"</div></div>").fadeIn();
            }
          },'json')
        }else{
           reply_show(cid,'show');
        }
    }
    */
    
    
    
    $(function(){
        $(".actMark").mouseover(function(){
            setTimeout(function(){
                $mark.attr("shown","true");
            },1);
        }).mouseout(function(){
                    var $mark = this;
                    $mark.attr("shown","false");
                    setTimeout(function(){
                        if($mark.attr("shown")==="false"){
                            $mark.slideUp();
                        }
                    },100);
                });
        $(".ex-panel").mouseover(function(){
            var $mark = $(this).find(".actMark");
            $mark.attr("shown","true");
            if($mark.attr("isFns")=="false")return false;
            $mark.attr("isFns","false");
            $mark.slideDown(function(){
                $mark.attr("isFns","true");
            });
        }).mouseout(function(){
                    var $mark = $(this).find(".actMark");
                    $mark.attr("shown","false");
                    setTimeout(function(){
                        if($mark.attr("shown")==="false"){
                            $mark.slideUp();
                        }
                    },100);
                });
    });
  </script>
  
</block>

