
<extend name="Base/common"/>
<style type="text/css">
     .content{
        width: 900px;
        height: 100px;
        background-color: #000;
     }
</style>
<block name="body">

      
            <div class="col-md-8" style="background-color:#FFF; height:1500px; ">
                   <div  class="col-md-12" style=" height:330px; ">
                              <div  class="col-md-3" style="background-color:#FFF; height:160px;  border:0.3px; border-color:#D5D5D5; 
                                                                                        border-style:dashed none solid none;   border-radius: 20px; ">
                                         <div  class="col-md-12" style="background-color:#BABABA; height:20px;  text-align:center;  
                                                                  border-radius: 7px; ">STEP1</div>
                                       <div  class="col-md-12" style="height:100px;  text-align:center;"></div>
                                       <div  class="col-md-12" style=" height:40px;  text-align:center;">aababcadftg</div>
                              </div>
                              <div  class="col-md-3" style="background-color:#FFF; height:160px;  border:0.3px; border-color:#D5D5D5; 
                                                                                        border-style:dashed none solid none; ">
                                         <div  class="col-md-12" style="background-color:#BABABA; height:20px;  text-align:center;
                                                                                                        border-radius: 7px; ">STEP1</div>
                                       <div  class="col-md-12" style=" height:100px;  text-align:center;"></div>
                                       <div  class="col-md-12" style=" height:40px;  text-align:center;">aababcadftg</div>
                              </div>
                               <div  class="col-md-3" style="background-color:#FFF; height:160px;  border:0.3px; border-color:#D5D5D5; 
                                                                                        border-style:dashed none solid none; ">
                                         <div  class="col-md-12" style="background-color:#BABABA; height:20px;  text-align:center;
                                                                                                        border-radius: 7px; ">STEP1</div>
                                       <div  class="col-md-12" style=" height:100px;  text-align:center;"></div>
                                       <div  class="col-md-12" style=" height:40px;  text-align:center;">aababcadftg</div>
                              </div>
                               <div  class="col-md-3" style="background-color:#FFF; height:160px;  border:0.3px; border-color:#D5D5D5; 
                                                                                        border-style:dashed none solid none; ">
                                         <div  class="col-md-12" style="background-color:#BABABA; height:20px;  text-align:center;
                                                                                                        border-radius: 7px; ">STEP1</div>
                                       <div  class="col-md-12" style=" height:100px;  text-align:center;"></div>
                                       <div  class="col-md-12" style=" height:40px;  text-align:center;">aababcadftg</div>
                              </div>
                               <div  class="col-md-12" style="background-color:#FFF; height:150px; margin-top: 10px; border:6px solid #BABABA;">
                                        <h3  style="line-height: 80px;">AAAAAAAAAAAAAA</h3>
                                        <h6>AAAAAAAAAAAAAAAAAAAAAAAAAAAAbbbbbbbbbbbbbbbbbbbbbbbbbb</h6>
                                        <div style="  float: right; margin-top: -90px; ">
                                                 <img src="__PUBLIC__/Home/images/exc/close.png " width:20px; height:20px;>
                                        </div>  
                                                                                        
                               </div>

                   </div>

                   <div  class="col-md-12" style="background-color:#FFF; height:180px;  border-bottom: 1px solid #BABABA;">
                           <div   class="col-md-3" style=" height:130px;  margin-top: -5px;"></div>
                           <div   class="col-md-3" style="height:130px;  margin-top: 25px;">
                                 <h4>21 day</h4>
                                 <span>jintshigeshaoriijianegjoin</span>
                                 <span>jintshigeshaoriijeingaonhgoingownh</span>
                                 <span>jintshigeshaoriijieong</span>
                                 <span>jintshigeshaoriijiengalohginhnahop</span>
                           </div>
                           <div  class="col-md-1" style="height:30px; background-color:#05578A; float:right;text-align:center; color:#FFF; margin-top: 70px">
                                  <h5 style="margin-top: 5px;  text-align:center; margin-left: -3px;">select</h5>
                           </div>
                   </div>
                    <div  class="col-md-12" style="background-color:#FFF; height:180px; border-bottom: 1px solid #BABABA;">
                           <div   class="col-md-3" style=" height:130px;  margin-top: -5px;"></div>
                           <div   class="col-md-3" style="height:130px;  margin-top: 25px;">
                                 <h4>21 day</h4>
                                 <span>jintshigeshaoriijianegjoin</span>
                                 <span>jintshigeshaoriijeingaonhgoingownh</span>
                                 <span>jintshigeshaoriijieong</span>
                                 <span>jintshigeshaoriijiengalohginhnahop</span>
                           </div>
                           <div  class="col-md-1" style="height:30px; background-color:#05578A; float:right;text-align:center; color:#FFF; margin-top: 70px">
                                  <h5 style="margin-top: 5px;  text-align:center; margin-left: -3px;">select</h5>
                           </div>
                   </div>
                    <div  class="col-md-12" style="background-color:#FFF; height:180px;  border-bottom: 1px solid #BABABA;">
                           <div   class="col-md-3" style=" height:130px;  margin-top: -5px;"></div>
                           <div   class="col-md-3" style="height:130px;  margin-top: 25px;">
                                 <h4>21 day</h4>
                                 <span>jintshigeshaoriijianegjoin</span>
                                 <span>jintshigeshaoriijeingaonhgoingownh</span>
                                 <span>jintshigeshaoriijieong</span>
                                 <span>jintshigeshaoriijiengalohginhnahop</span>
                           </div>
                           <div  class="col-md-1" style="height:30px; background-color:#05578A; float:right;text-align:center; color:#FFF; margin-top: 70px">
                                  <h5 style="margin-top: 5px;  text-align:center; margin-left: -3px;">select</h5>
                           </div>
                   </div>
                    <div  class="col-md-12" style="background-color:#FFF; height:180px;  border-bottom: 1px solid #BABABA;">
                           <div   class="col-md-3" style=" height:130px;  margin-top: -5px;"></div>
                           <div   class="col-md-3" style="height:130px;  margin-top: 25px;">
                                 <h4>21 day</h4>
                                 <span>jintshigeshaoriijianegjoin</span>
                                 <span>jintshigeshaoriijeingaonhgoingownh</span>
                                 <span>jintshigeshaoriijieong</span>
                                 <span>jintshigeshaoriijiengalohginhnahop</span>
                           </div>
                           <div  class="col-md-1" style="height:30px; background-color:#05578A; float:right;text-align:center; color:#FFF; margin-top: 70px">
                                  <h5 style="margin-top: 5px;  text-align:center; margin-left: -3px;">select</h5>
                           </div>

     </div>
     
      
</div>
<a href="{:U('Exercise/exc_mte')}" class="btn btn-primary btn-lg active" role="button">下一步</a>
</block>

<block name="right">
             <div class="col-md-2" >
                  <div class="col-md-2"  style=" border: 1px solid #BABABA; height:500px;  position:fixed;" >
                            悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  
                            悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  
                            悬浮框  悬浮框  悬浮框  悬浮框   悬浮框   悬浮框  
                 </div>
           </div>
  </block>

