
<extend name="Base/common"/>
<block name="body">
    <include file="Public/excNav"/>
    <link href="__STATIC__/iCheck/skins/square/blue.css" rel="stylesheet">
    <script src="__STATIC__/iCheck/icheck.min.js?v=1.0.2"></script>
    
    <script>
        $(function(){
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <div class="row main-container">
        <div class="span9">
            
            <div class="tsWeekHot">
                本周最热
            </div>
            <div class="row">
                <div class="span3">
                    <div class="ex-panel">
                        <div class="mark">
                            9
                        </div>
                        <div class="ex-desc">
                            <ul>
                                <li><img src="__PUBLIC__/Home/images/exeName.png" style="vertical-align: middle;">硬拉</li>
                                <li><img src="__PUBLIC__/Home/images/exePart.png" style="vertical-align: middle;">肩肌</li>
                                <li><img src="__PUBLIC__/Home/images/exe.png" style="vertical-align: middle;">杠铃</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="ex-panel">
                        <div class="mark">
                            9
                        </div>
                        <div class="ex-desc">
                            <ul>
                                <li><img src="__PUBLIC__/Home/images/exeName.png" style="vertical-align: middle;">硬拉</li>
                                <li><img src="__PUBLIC__/Home/images/exePart.png" style="vertical-align: middle;">肩肌</li>
                                <li><img src="__PUBLIC__/Home/images/exe.png" style="vertical-align: middle;">杠铃</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="ex-panel">
                        <div class="mark">
                            9
                        </div>
                        <div class="ex-desc">
                            <ul>
                                <li><img src="__PUBLIC__/Home/images/exeName.png" style="vertical-align: middle;">硬拉</li>
                                <li><img src="__PUBLIC__/Home/images/exePart.png" style="vertical-align: middle;">肩肌</li>
                                <li><img src="__PUBLIC__/Home/images/exe.png" style="vertical-align: middle;">杠铃</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ex-hr"></div>
            <br/>
            <div class="row">
                <div class="span3">
                    <input type="text" class="search-query" id="ename"/>
                    <input type="button" value="搜 索" class="" onclick="searchename()"/>
                </div>
                <div class="span6">
                    <div class="row">
                        <div class="span1 b">
                            肌群
                        </div>
                        <div class="span5">
                        <volist name="_list" id="vo" key="k">
                            <div class="ex-checkbox">
                                {$vo} <input type="checkbox" class="checkbox ids" checked name="mainmuscleid" value="{$k}" />
                            </div>
                        </volist>
                        <div class="ex-checkbox">
                                全选 <input type="checkbox" class="checkbox selectall" checked name="mainmuscleid" value=""/>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                        
                        <div class="span1 b">
                            锻炼类型
                        </div>
                        <div class="span5">
                        <volist name="_list2" id="vo" key="k">
                            <div class="ex-checkbox">
                                {$vo} <input type="checkbox" class="checkbox ids" checked name="exercisetypeid" value="{$k}" />
                            </div>
                        </volist>
                        <div class="ex-checkbox">
                                全选 <input type="checkbox" class="checkbox selectall" checked name="exercisetypeid" value=""/>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                        
                        
                        <div class="span1 b">
                            设备类型
                        </div>
                        <div class="span5">
                        <volist name="_list3" id="vo" key="k">
                            <div class="ex-checkbox">
                                {$vo} <input type="checkbox" class="checkbox ids" checked name="equiptypeid" value="{$k}" />
                            </div>
                        </volist>
                        <div class="ex-checkbox">
                                全选 <input  type="checkbox" class="checkbox selectall" checked name="equiptypeid" value=""/>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                        
                        <div class="span1 b">
                            力量类型
                        </div>
                        <div class="span5">
                        <volist name="_list4" id="vo" key="k">
                            <div class="ex-checkbox">
                                {$vo} <input type="checkbox" class="checkbox ids" checked name="forcetypeid" value="{$k}" />
                            </div>
                        </volist>
                        <div class="ex-checkbox">
                                全选 <input type="checkbox" class="checkbox selectall" checked name="forcetypeid" value=""/>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                        
                        <div class="span1 b">
                            运行类型
                        </div>
                        <div class="span5">
                        <volist name="_list5" id="vo" key="k">
                            <div class="ex-checkbox">
                                {$vo} <input type="checkbox" class="checkbox ids" checked name="sporttypeid" value="{$k}" />
                            </div>
                        </volist>
                        <div class="ex-checkbox">
                                全选 <input type="checkbox" class="checkbox selectall" checked name="sporttypeid" value=""/>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                    
                        <div class="span1 b">
                            专家类型
                        </div>
                        <div class="span5">
                        <volist name="_list6" id="vo" key="k">
                            <div class="ex-checkbox">
                                {$vo} <input type="checkbox" class="checkbox ids" checked name="leveltypeid" value="{$k}" />
                            </div>
                        </volist>
                        <div class="ex-checkbox">
                                全选 <input type="checkbox" class="checkbox selectall" checked name="leveltypeid" value=""/>
                        </div>
                        <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ex-hr"></div>
            <div class="row" id="excInfo">
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script type="text/javascript" >
        $("document").ready(function() {
            search();
            $(".iCheck-helper").click(function(){
                var $chk = $(this).prev();
                if($chk.hasClass("selectall")){
                    if($chk.prop("checked")){
                        $chk.parents(".span5").find(":checkbox").not($chk).iCheck("check");
                    }else{
                        $chk.parents(".span5").find(":checkbox").not($chk).iCheck("uncheck");
                    }
                }
                search();
            });

        })
    function search(){
        var filter_1 = "";
        var filter_2 = "";
        var filter_3 = "";
        var filter_4 = "";
        var filter_5 = "";
        var filter_6 = "";
        $("input[name='mainmuscleid']:checkbox:checked").each(function() {  //肌群
            filter_1 += $(this).val() + ',';
        });
        $("input[name='exercisetypeid']:checkbox:checked").each(function() {    //锻炼类型
            filter_2 += $(this).val() + ',';
        });
        $("input[name='equiptypeid']:checkbox:checked").each(function() {       //设备类型
            filter_3 += $(this).val() + ',';
        });
        $("input[name='forcetypeid']:checkbox:checked").each(function() {       //力量类型
            filter_4 += $(this).val() + ',';
        });
        $("input[name='sporttypeid']:checkbox:checked").each(function() {       //运行类型
            filter_5 += $(this).val() + ',';
        });
        $("input[name='leveltypeid']:checkbox:checked").each(function() {       //专家类型
            filter_6 += $(this).val() + ',';
        });
        /*type 1 表示 复选框搜索  2 表示 搜索框搜索*/
        $.post("{:U('Exercise/search')}", {'filter_1': filter_1, 'filter_2': filter_2,
            'filter_3': filter_3, 'filter_4': filter_4, 'filter_5': filter_5, 'filter_6': filter_6,type:'1'},function(data) {
            if (data.status){
                excInfo(data.info);
            }else{
                //$("#excInfo").append("获取失败");
            }
        }, 'json');
    }
    function action(obj){
        var id  = obj.id;
        var url = "{:U('Exercise/addaction')}";
        $.post(url,{id:id},function(data){
            if (data.status){
               
            }
            else{
                //$("#excInfo").append("获取失败");
            }
        })
    }
    //输入框 模糊搜索
    function searchename(){
        ename = $("#ename").val();
        /*
        if(ename=="" || ename==null){
            alert("请输入搜索的内容！");
            $("#ename").focus();
            return;
        }
        */
        /*type 1 表示 复选框搜索  2 表示 搜索框搜索*/
        $.post("{:U('Exercise/search')}",{ename:ename,type:'2'},function(data){
            if(data.status==1){
                excInfo(data.info);
            }else{
                alert("没有搜索结果！");
                //$("#excInfo").append("获取失败");
            }
        },'json');
    }
    
    function excInfo(info){
         $("#excInfo").html("");
                var html = "";
                $.each(info, function (i, n) { 
                    html += "<div class=\"span3\">";
                    html += "<div class=\"ex-panel\">";
                    html += "<div class=\"mark\">";
                    html +=  9+"<img src=\"__PUBLIC__/Exercise/images/1.png\" /><img src=\"__PUBLIC__/Exercise/images/2.png\" />";
                    html += "</div>";  
                        html +="<div class=\"ex-desc\">";
                            html += "<ul>";
                                html += "<li><img src=\"__PUBLIC__/Home/images/exeName.png\" style=\"vertical-align: middle;\"/>"+n.ename+"</li>";
                                html += "<li><img src=\"__PUBLIC__/Home/images/exePart.png\" style=\"vertical-align: middle;\"/>"+n.mtname+"</li>";
                                html += "<li><img src=\"__PUBLIC__/Home/images/exe.png\" style=\"vertical-align: middle;\"/>"+n.eqtname+"</li>";
                            html += "</ul>";
                        html += "</div>";
                    html += "</div>";
                html += "</div>";
                });   
                $("#excInfo").append(html); 
    }
    </script>

</block>

