<extend name="Base/common" />
<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>用户登录</h2>
            <p><span><span class="pull-left"><span>还没有账号? <a href="{:U('User/register')}">立即注册</a></span> </span></p>
        </div>
    </header>
</block>

<block name="body">
    <section>
 <div class="col-md-8">
     <div>
          <p>
            <h3 style="margin-top:30px;font-family:宋体；margin-left:5px;">如何制定你的计划</h3>
          </p>
     </div>
         <hr color="#BABABA" width:100%; size:1px; noshade />
 

     <div>
        <div style="margin-bottom:40px;float:left; padding-right: 65px;">
            <img style="float:left" src="" alt="tub" />
                <h4 >确定你的目标</h4>
                   <p style="width:500px";height:100px;>Build your ultimate workout program. Does your program burn fat, build muscle, or support a different fitness goal? Choose your goal, name your program, describe how it works, select the difficulty level, and let the world know if it's designated for men, women, or everyone</p>
      </div>

     <div style="float:left; width:180px; height:120px; border-left: 1px solid #BABABA;">
          <img src="" alt="tu1" style="padding-left:10px";>
     </div>
  
   
 </div> 

<div>
   
   <div style="margin-bottom:40px;float:left; padding-right: 65px;">
       <img style="float:left" src="" alt="tub" />
          <h4 >确定你的目标</h4>
              <p style="width:500px";height:100px;>Build your ultimate workout program. Does your program burn fat, build muscle, or support a different fitness goal? Choose your goal, name your program, describe how it works, select the difficulty level, and let the world know if it's designated for men, women, or everyone
              </p>
   </div>

    <div style="float:left; width:180px; height:120px; border-left: 1px solid #BABABA;">
     <img src="" alt="tu1" style="padding-left:10px";>
    </div>
  
   
 </div> 

<div>
   
   <div style="margin-bottom:40px;float:left; padding-right: 65px;">
       <img style="float:left" src="" alt="tub" />
           <h4 >确定你的目标</h4>
               <p style="width:500px";height:100px;>Build your ultimate workout program. Does your program burn fat, build muscle, or support a different fitness goal? Choose your goal, name your program, describe how it works, select the difficulty level, and let the world know if it's designated for men, women, or everyone
               </p>
   </div>

    <div style="float:left; width:180px; height:120px; border-left: 1px solid #BABABA;">
     <img src="" alt="tu1" style="padding-left:10px";>
    </div>
  
   
 </div> 

<div>
   
   <div style="margin-bottom:40px;float:left; padding-right: 65px;">
       <img style="float:left" src="" alt="tub" />
           <h4 >确定你的目标</h4>
              <p style="width:500px";height:100px;>Build your ultimate workout program. Does your program burn fat, build muscle, or support a different fitness goal? Choose your goal, name your program, describe how it works, select the difficulty level, and let the world know if it's designated for men, women, or everyone
              </p>
   </div>

    <div style="float:left; width:180px; height:120px; border-left: 1px solid #BABABA;">
     <img src="" alt="tu1" style="padding-left:10px";>
    </div>
  
   
   </div> 
       <hr color="#ccc" width:100%; size:1px; noshade />
   </div>

</div>



   



<div>
   <div style="width:374px;height:342px;border: 1px solid #BABABA;margin-right:30px;float:left;">
         <div style="height:40px; width:372px; border-bottom:1px soild  #BABABA ; background-color:#ccc;">目标1</div>
         <div style="width:372px; height:300px;">
              <div style="width:352px; height:300px;float:left;">
                aaaaaaaaaaaaaaa
              </div>
              <div style="width:20px; height:300px;background:#ccc;display:block;float:left;
              border-top: 1px solid #BABABA;"></div>
         </div>
   </div>
   <div style="width:374px;height:342px;border: 1px solid #BABABA;float:left;">
         <div style="height:40px; width:372px; border-bottom:1px soild  #BABABA ; background-color:#ccc;">目标2</div>
         <div style="width:372px; height:300px;">
              <div style="width:352px; height:300px;float:left;"></div>
              <div style="width:20px; height:300px;background:#ccc;display:block;float:left;
              border-top: 1px solid #BABABA;"></div>
         </div>
   </div>
</div>




    </section>

</block>

<block name="side"> </block>
<block name="script">
</block>
